{% extends 'base.html' %}
{% block title %}content{% endblock %}

{% block head %}
	<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/detail.css')}}">
{% endblock %}

{% block main %}
	<h3 calss="page-title">{{ question2.title }}</h3>
	<p class="question-info">
		<span>{{ question2.author.username }} </span>
		<span>{{ question2.create_time }} </span>
	</p>
	<hr>
	<p class="question-content">
		{{ question2.content}}
	</p>
	<hr>
	<h4>Comment: (0)</h4>
	<form action="{{url_for('add_comment')}}" method="post">
		<div class="form-group">
			<input name="add_comment_templates" class="form-control" tpye="text" placeholder="Your Comment">
			<input type="hidden" name="question_id" value="question2.id">
		</div>
		<div class="form-group" style="text-align: right">
			<button class="btn btn-primary">Submit</button>
		</div>
	</form>
	<ul>
		{% for comment in question2.comments %}
			<li>{{ comment.content }}</li>
		{% endfor %}
	</ul>

{% endblock %}